{
  "presets": [
    "react-native"
  ],
  "plugins": [
    ["module-resolver", {
      "cwd": "babelrc",
      "@weekly": "./src",
      "@images": "./src/assets",
      "alias": {
        "@weekly": "./artifacts",
        "@images": "./src/assets"
      }
    }]
  ],
  "sourceMaps": true
}
